.feedback-call {
  position: absolute;
  display: none;
  right: 0;
  transform: translate(100%);
  transition: transform 0.3s ease-in-out;
  visibility: hidden;
  box-sizing: border-box;
  padding: 40px 32px;
  background-color: $white;
  min-width: 320px;
  max-width: 440px;
  z-index: 5;
}

.feedback-call__title {
  font-size: 24px;
  margin-bottom: 24px;
}

.feedback-call__input {
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin-bottom: 16px;
  border: 1px solid $item-border;
  border-radius: 10px;
  padding: 12px 16px;
}

.feedback-call__textarea {
  box-sizing: border-box;
  width: 100%;
  // height: 48px;
  margin-bottom: 16px;
  border: 1px solid $item-border;
  border-radius: 10px;
  padding: 12px 16px;
}

.feedback-call__p {
  font-size: 14px;
  color: $h2;
  margin-bottom: 27px;
}
.feedback-call__p--red {
  color: $btn_color;
}

.feedback-call__submit {
  display: block;
  margin-left: auto;
  background-color: $btn_color;
  background-image: url("../img/goside.png");
  background-repeat: no-repeat;
  background-position: center right;
  border-radius: 16px;
  border: none;
  color: $white;
  padding: 4px 39px 4px 8px;
  font-size: 12px;
  letter-spacing: -0.15px;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  &:active {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
  }
}

.feedback-call__close-btn {
  margin-bottom: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $btn_color;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-in-out;
  background-image: url("../img/mobile_menu/icon.svg");
  @media screen and (min-width: $screen-sm) {
    position: absolute;
    left: -70px;
  }
}
