@font-face {
  font-family: "TTLakes";
  src: url(../fonts/TTLakes-Regular.woff) format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url(../fonts/TTLakes-Bold.woff) format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "TTLakes";
  src: url(../fonts/TTLakes-Light.woff) format("woff");
  font-style: normal;
  font-weight: 300;
}
