$h1: #1b1c21;
$h2: #7e7e82;
$background: #f8f8f8;
$white: #ffffff;
$btn_color: #ff3e79;
$btn_color-hover: #cd0037;
$btn_color-active: #870326;
$swiper_bullet: #dddddd;
$swiper_bullet-active: #b5b6bc;
$item_border: #eaeaea;

$screen-sm: 560px;
$screen-md: 760px;
$screen-lg: 1000px;
$screen-2xl: 1400px;
